header {
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #FF0000;
    text-decoration: underline;
}
main{
    width: 940px;
    margin: 0 auto;

}
form{
    margin: 40px 0;
}
form label,fieldset legend{ 
    display: block;
    font-size: 20px;
    margin-bottom: 10px;

}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    background-color: rgb(255, 140, 0);
    color: white;
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;

}
.enviar:hover{
    background-color: rgb(115, 2, 2);
    transform: scale(1.2) ;
}

table{
    margin: 20px 100px;
   
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;

   
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

























footer{
    text-align: center;
    background: url("../../../Imgs/bg.jpg");
 
    padding: 20px 0;
}
.footerCoop{
    font-size: 13px;
    color:#FFFFFF;
 
    margin-top: 20px;
}