#banner{
   width: 100%;
}
.principal{
    background-color: #CCCCCC;
    padding: 20px;
}	
.titulo-principal{
    padding-left: 20px;
}
h1{
    text-align: center;
}
.titulo-centralizado{
    text-align: center;
}
p{
    text-align: center;
}
/*Modificador  de id*/
#missao{
    font-size: 20px;
}
/*Ao usar classe utilizar ponto antes do nome da classe*/
.em-missao{
    color: red
}

.itens{
    font-size: 20px;
    font-style: italic;

}
.beneficios{
    background-color: white;
    color: black;
    padding: 20px;

}
ul{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    
    margin-right: 20px;


}
#imgBeneficios{
    width: 50%;
    
}